/// Imports
@use '../util' as *;

/// Global styles
* {
    &, &::before, &::after {
        box-sizing: border-box;
    }
}

html, body {
    color: css-var(fore);
    background-color: css-var(back);
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: calc(100vh - css-var(header-height));
    z-index: 1000;
    
    & > router-outlet {
        & + * {
            width: 100%;
            flex-grow: 1;
        }
    }

    router-outlet {
        flex-grow: 0;
    }
}

app-root {
    display: block;
}

nav {
    a {
        display: block;
        text-decoration: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        & > li > ul {
            flex-direction: column;
        }
    }
}

a {
    &[href^='mailto:'], &[href^='tel:'], &[href^='sms:'] {
        white-space: nowrap;
    }

    i:last-child {
        margin-left: 0.25rem;
    }
}

button, a[routerLink] {
    cursor: pointer;
}

a, button {
    font-size: inherit;
}

img {
    width: 100%;
}

#{class(glow)} {
    box-shadow: 0 0 2rem -0.5rem css-var(glow-2);
}

#{class(noglow)} {
    box-shadow: none !important;
}

#{class(sr-only)} {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

#{class(list)} {
    list-style: none;
    margin: 0;
    padding: 0;
}
