/// Imports
@use '../util' as *;

/// Structure styles
#{class(pad)} {
    @include break-util(padding, 1rem, 0);
}

#{class(margin)} {
    @include break-util(margin, 1rem, 0);

    &-auto {
        margin-left: auto;
        margin-right: auto;

        &-v {
            margin: 1rem auto;

            @for $i from 0 through 6 {
                &#{$i} {
                    margin: 1rem * $i auto;
                }
            }
        }
    }

    &-v {
        margin: 1rem 0;

        @for $i from 0 through 6 {
            &#{$i} {
                margin: 1rem * $i 0;
            }
        }
    }

    &-h {
        margin: 0 1rem;

        @for $i from 0 through 6 {
            &#{$i} {
                margin: 0 1rem * $i;
            }
        }
    }
}

section {
    &#{class(smaller)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(xs);
    }

    &#{class(small)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(sm);
    }

    &#{class(default)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(md);
    }

    &#{class(big)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(lg);
    }

    &#{class(bigger)} {
        margin-left: auto;
        margin-right: auto;
        max-width: break(xl);
    }
}

#{class(center)} {
    align-items: center;
    justify-content: center;
    text-align: center;

	&-down {
		&, & * {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

#{class(grid)} {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid-gap;
    margin: $grid-gap 0;

    &#{class('2')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &#{class('3')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include break(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &#{class('4')} {
        @include break(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include break(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include break(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
