/// text.scss - Text styles
/// @author App/Art Mint
/// 
/// @group Animations
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Text Styles
html, body {
    font-family: $font-primary, $font-backups;
    font-size: 1rem;

    @include break(md) {
        font-size: 1.125rem;
    }
}

p {
    line-height: 1.75;
}

@include headers () {
    font-family: $font-secondary, $font-secondary-backups;
    line-height: 1;
}

@each $tag in map-keys($font-size-mobile) {
    #{$tag}, #{class($tag)} {
        margin: 1rem 0;
        font-size: map-get($font-size-mobile, $tag);

        @include break(md) {
            font-size: map-get($font-size-desktop, $tag);
        }
    }
}
