/// themes.scss - Styles for light and dark themes
/// @author App/Art Mint
///
/// @group Themes
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Global theme
:root {
    /// Global Colors
    /// Brands
    @include css-var(bitcoin, $bitcoin);
    @include css-var(ethereum, $ethereum);
    @include css-var(venmo, $venmo);
    @include css-var(facebook, $facebook);
	@include css-var(twitter, $twitter);
    @include css-var(youtube, $youtube);
    @include css-var(apple, $apple);
    @include css-var(spotify, $spotify);
	@include css-var(soundcloud, $soundcloud);
	@include css-var(bandcamp, $bandcamp);
    @include css-var(amazon-0, $amazon-0);
    @include css-var(amazon-1, $amazon-1);
    @include css-var(napster-0, $napster-0);
    @include css-var(napster-1, $napster-1);
    @include css-var(google-play-0, $google-play-0);
    @include css-var(google-play-1, $google-play-1);
    @include css-var(google-play-2, $google-play-2);
    @include css-var(instagram-0, $instagram-0);
    @include css-var(instagram-1, $instagram-1);
    @include css-var(instagram-2, $instagram-2);
    @include css-var(instagram-3, $instagram-3);
    @include css-var(instagram-4, $instagram-4);
    @include css-var(instagram-5, $instagram-5);
    @include css-var(instagram-6, $instagram-6);

    /// Application Colors
    @include shades('black', $black, lighten);
    @include shades('white', $white, darken);
    @include shades(glow, $trans-light, darken, 7, 10%, true);
    @include shades(shadow, $trans-dark, darken, 7, 10%, true);

    @include shades(brand, $brand);
    @include shades(accent, $accent);
    @include shades(success, $success);
    @include shades(danger, $danger);
    @include shades(warning, $warning);
    @include shades(info, $info);
}

/// Light theme
@mixin light-theme {
    @include css-var(fore, $fore);
    @include css-var(back, $back);
}

/// Dark theme
@mixin dark-theme {
    @include css-var(fore, $back);
    @include css-var(back, $fore);
}

/// Apply themes
:root {
    @if ($theme-default == light) {
        @include light-theme;
    } @else {
        @include dark-theme;
    }
}

#{class(dark)} {
    @include dark-theme;
    color: css-var(fore);
}

#{class(light)} {
    @include light-theme;
    color: css-var(fore);
}

a {
    color: css-var(brand);

	.fa-instagram {
		position: relative;

		&::after {
			content: '\f16d';
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity css-var(delay-default);

			@include background-clip(css-var(instagram-0)) {
				/// https://codepen.io/thomasrye/pen/VaRoYv
				background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
			}
		}
	}

    @include states(hover, focus, active) {
        color: css-var(accent-0);

		.fa-facebook, .fa-square-facebook {
			color: css-var(facebook);
		}

        .fa-instagram {
			&::after {
				opacity: 1;
			}
		}

		.fa-twitter {
			color: css-var(twitter);
		}

		.fa-youtube {
            color: css-var(youtube);
        }

		.fa-spotify {
			color: css-var(spotify);
		}

		.fa-apple {
			color: css-var(apple);
		}

		.fa-soundcloud {
			color: css-var(soundcloud);
		}

		.fa-bandcamp {
			color: css-var(bandcamp);
		}

		.fa-github {
            color: css-var(white-1);
        }

        .fa-bitcoin {
            color: css-var(bitcoin);
        }

        .fa-ethereum {
            color: css-var(ethereum);
        }

        .fa-vimeo {
            color: css-var(venmo);
        }
    }
}
