/// vars.scss - Global variables
/// @author App/Art Mint
///
/// @group Vars
@charset 'utf-8';

/// Global Colors
$bitcoin: #FF9900;
$ethereum: #3C3C3D;
$venmo: #008CFF;
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #F00;
$apple: #DDD;
$spotify: #84bd00;
$soundcloud: #f26f23;
$bandcamp: #629aa9;
$amazon-0: #F90;
$amazon-1: #146eb4;
$napster-0: #2ca6de;
$napster-1: #fdb813;
$google-play-0: #f55a34;
$google-play-1: #ffd119;
$google-play-2: #ff8c00;
$instagram-0: #8a3ab9;
$instagram-1: #4c68d7;
$instagram-2: #cd486b;
$instagram-3: #fbad50;
$instagram-4: #fccc63;
$instagram-5: #bc2a8d;
$instagram-6: #e95950;

/// Application Colors
$black: #000 !default;
$white: #fff !default;
$grey: #888 !default;
$trans-light: rgba(255, 255, 255, 0) !default;
$trans-dark: rgba(0, 0, 0, 0) !default;

$brand: #bada55 !default;
$accent: #483d8b !default;
$success: #208a20 !default;
$danger: #ff4d4d !default;
$warning: #ffaa22 !default;
$info: $brand !default;

$fore: lighten($black, 10%) !default;
$back: darken($white, 10%) !default;

$header-bg: brand-4 !default;
$header-fg: back !default;

/// Fonts
$font-primary: sans-serif !default;
$font-secondary: serif !default;
$font-backups: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-secondary-backups: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

/// Font Sizes
$font-size-mobile: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 1.75rem,
    h4: 1.5rem,
    h5: 1.25rem,
    h6: 1.125rem,
    p: 1rem,
) !default;
$font-size-desktop: (
    h1: 3rem,
    h2: 2.5rem,
    h3: 2rem,
    h4: 1.75rem,
    h5: 1.5rem,
    h6: 1.25rem,
    p: 1.125rem,
) !default;

/// Structure
$grid-gap: 2rem !default;

/// Default theme
$theme-default: light !default;

/// Outline width
$border-width: 0.125rem !default;
$border-radius: 1rem !default;

/// Header
$header-height: 4rem !default;

/// Default Shadows
$shadow-color: glow-2 !default;
$shadow-size: 0 0 2rem -0.5rem !default;

/// Images
$image-shadow-size: 0.5rem !default;

/// Buttons
$menu-bar-height: 0.4rem !default;
$menu-bar-width: $menu-bar-height * 8 !default;
$menu-btn-height: $menu-bar-height * 8 !default;
$menu-btn-padding: $menu-bar-height * 1.5 !default;
$menu-bar-color: fore !default;
$menu-btn-color: shadow-6 !default;
$menu-btn-shadow-color: $shadow-color !default;
$menu-btn-shadow-size: $shadow-size !default;

$btn-radius: $border-radius !default;
$btn-fore: fore !default;
$btn-fore-hover: back !default;
$btn-back: brand-5 !default;
$btn-back-alt: trans !default;
$btn-back-alt-hover: accent-2 !default;
$btn-border: brand-3 !default;
$btn-padding-v: 0.5rem !default;
$btn-padding-h: 1rem !default;
$btn-padding-adjust: 0.75rem !default;

$pill-radius: $border-radius !default;

/// Cards
$card-padding: 1.5rem !default;
$card-radius: $border-radius !default;
$card-shadow-color: $shadow-color !default;
$card-shadow-size: $shadow-size !default;
$card-logo-size: 4rem !default;
