/// buttons.scss - Button styles
/// @author App Art Mint LLC
///
/// @group Buttons
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// All buttons
#{class(btn)},
#{class(pill)},
#{class(btn-icon)} {
	text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: color css-var(delay-default),
                background-color css-var(delay-default),
                border-color css-var(delay-default);
}

/// Regular buttons
#{class(btn)},
#{class(pill)} {
    display: inline-block;
    border-radius: $pill-radius;
    color: css-var($btn-fore);
    background: css-var($btn-back);
    border: $border-width solid css-var($btn-border);
    text-align: center;

    @include break(xs) {
        width: auto;
    }

    @include states(hover, focus, active) {
        color: css-var($btn-fore-hover);
        background: css-var($btn-border);

		i {
			color: inherit !important;
		}
    }

    &#{class(alt)} {
        color: css-var($btn-border);
        background: css-var($btn-back-alt);

        @include states(hover, focus, active) {
            color: css-var($btn-fore);
            background: css-var($btn-back-alt-hover);
            border-color: css-var($btn-back-alt-hover);
        }
    }
}

/// Default buttons
#{class(btn)} {
    padding: $btn-padding-v $btn-padding-h + $btn-padding-adjust;

	&-icon {
		display: block;
		text-align: center;

		@include states(hover, focus, active) {
			i {
				color: css-var($btn-back-alt-hover);
			}
		}

		@include break(xs) {
			display: inline-block;
		}

		i {
			margin: 0 !important;
			color: css-var($btn-border);
			font-size: 4rem;

			&::before {
				transition: color css-var(delay-default);
			}
		}
	}
}

/// Pill buttons
#{class(pill)} {
    min-width: 5rem;
    padding: 0 $btn-padding-adjust;
    line-height: 2;
}

/// A list of buttons
#{class(buttons)} {
    @include flex-util();

    & > * {
        width: 100%;
        margin: 0.5rem 0;

        #{class(btn)}, #{class(pill)} {
            display: block;
        }

        @include break(xs) {
            width: auto;
            margin: 0.5rem;
        }
    }

    #{class(buttons)} {
        #{class(pill)} {
            width: 100%;
        }
    }
}

/// Buttons within a paragraph
p {
    #{class(pill)} {
        line-height: 1.5rem;
        vertical-align: middle;
    }
}
