/// cards.scss - Card styles
/// @author App Art Mint LLC
/// 
/// @group Cards
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Variables
$border-radius: 1rem;
$padding: 1.5rem;
$box-shadow: 0 0 2rem -0.5rem #{css-var(trans-3)};

/// Card Styles
#{class(card)} {
    display: flex;
    flex-direction: column;
    margin: $padding * 2 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;

    @include break(sm) {
        flex-direction: row;

        &#{class(reverse)} {
            flex-direction: row-reverse;
        }
    }

    &#{class(stagger)} {
        position: relative;

        @include break(sm) {
            flex-direction: row-reverse;
            border-radius: 0;
            box-shadow: none;
            overflow: visible;

            #{class(image)} {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: calc(100% - 3rem);
                border-radius: $border-radius;
                box-shadow: $box-shadow;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            #{class(content)} {
                width: calc(50% + $padding * 2);
                margin-top: $padding * 2;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }
        }

        &#{class(reverse)} {
            @include break(sm) {
                flex-direction: row;

                #{class(image)} {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    & > #{class(image)}:only-child, & > app-image:only-child #{class(image)} {
        width: 100%;
    }

    #{class(image)} {
        overflow: hidden;

        @include break(sm) {
            width: 50%;
        }

        img {
            display: block;
        }
    }

    #{class(content)} {
        padding: $padding;
        background: css-var(black-2);

        @include break(sm) {
            width: 50%;
        }

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        #{class(buttons)} {
            display: flex;
            align-items: center;

            & > * {
                margin-right: 0.5rem;
            }

            :last-child {
                margin-right: 0;
            }
        }
    }
}
