/// cards.scss - Card styles
/// @author App Art Mint LLC
/// 
/// @group Cards
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Variables
$border-radius: 1rem;
$padding: 1.5rem;
$box-shadow: 0 0 2rem -0.5rem #{css-var(glow-2)};
$logo-size: 4rem;

/// Card Styles
#{class(card)} {
    display: flex;
    flex-direction: column;
    margin: $padding * 2 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;

    @include break(sm) {
        flex-direction: row;

        &#{class(reverse)} {
            flex-direction: row-reverse;
        }
    }

    &#{class(stagger)} {
        position: relative;

        @include break(sm) {
            flex-direction: row-reverse;
            border-radius: 0;
            box-shadow: none;
            overflow: visible;

            & > #{class(image)},
            & > mint-image #{class(image)} {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: calc(100% - 3rem);
                border-radius: $border-radius;
                box-shadow: $box-shadow;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            & > #{class(content)} {
                width: calc(50% + $padding * 2);
                margin-top: $padding * 2;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }
        }

        &#{class(reverse)} {
            @include break(sm) {
                flex-direction: row;

                & > #{class(image)},
                & > mint-image #{class(image)} {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    & > #{class(image)}:only-child,
    & > mint-image:only-child #{class(image)} {
        width: 100%;
    }

    & > #{class(image)},
    & > mint-image #{class(image)} {
        overflow: hidden;

        @include break(sm) {
            width: 50%;
        }
    }

    #{class(content)} {
        padding: $padding;
        background: css-var(black-2);

        @include break(sm) {
            width: 50%;
        }

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        #{class(title)} {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & > #{class(image)},
            & > mint-image {
                width: 100%;
                height: 100%;
                max-width: $logo-size;
                max-height: $logo-size;
                margin-right: 1rem;
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            div {
                width: 100%;

                & > * {
                    margin: 0;
                }
            }
        }
    }
}
