/// styles.scss - Header styles
/// @author App/Art Mint
/// 
/// @group Main
@charset 'utf-8';

/// Imports
@use 'sass:math';
@use '../util' as *;

/// CSS Variables
:root {
    @include css-var(header-height, $header-height);
    @include css-var-ref(header-bg, $header-bg);
    @include css-var-ref(header-fg, $header-fg);
}

/// Header Styles
#{id(header)} {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: css-var(header-fg);
    background-color: css-var(header-bg);
    z-index: 10000;

    &#{class(js)} {
        align-items: center;
        flex-direction: row;
        height: css-var(header-height);
        padding: 0 calc(css-var(header-height) / 2);

        #{controls(wrapper)} {
            display: inline-block;
        }

        #{$has-controls + neg(controls(wrapper))} {
            & + ul {
                display: flex;
                flex-direction: column;
                height: 0;
                overflow: hidden;
                transition: height css-var(delay-default), margin css-var(delay-default);
            }
            
            &#{$has-expanded + neg(expanded(true))} {
                & + ul {
                    margin: 0;
                }
            }
        }

        &#{class(fixed)} {
            position: fixed;
            top: 0;
            left: 0;
        }
        
        #{id(wrapper)} {
            background: css-var(bg);
            transition-duration: css-var(delay-default);
            transition-property: top, right, bottom, left;
            overflow: auto;
        }
    }

    &.mint-right {
        #{id(wrapper)} {
            top: css-var(header-height);
            right: -100%;
            left: unset;

            &#{class(open)} {
                right: 0;
            }
        }
    }

    &.mint-bottom {
        #{id(wrapper)} {
            top: unset;
            bottom: -100%;

            &#{class(open)} {
                bottom: 0;
            }
        }
    }

    &.mint-left {
        #{id(wrapper)} {
            top: css-var(header-height);
            left: -100%;

            &#{class(open)} {
                left: 0;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: css-var(header-height);
        background: css-var(header-bg);
        z-index: -1;
    }
    
    nav {
        & > ul {
            display: flex;
            flex-direction: column;
        }
    }
    
    ul {
        list-style: none;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 0;
    }
    
    a, button {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        border: 0;
        color: css-var(header-fg);
        background: css-var(trans);
    }
    
    h1 {
        display: flex;
        white-space: nowrap;
        margin: 0;
    }

    #{class(logo)} {
        text-decoration: none;
        
        img {
            max-width: css-var(header-height);
        }
    }

    #{controls(wrapper)} {
        display: none;
        position: relative;
        padding: $menu-btn-padding;
        width: $menu-bar-width + $menu-btn-padding * 2;
        height: $menu-btn-height + $menu-btn-padding * 2;
        margin-left: auto;
        border-radius: $border-radius;
        background: css-var($menu-btn-color);
        box-shadow: $menu-btn-shadow-size css-var($menu-btn-shadow-color);

        #{class(menu-icon)} {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &, &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                height: $menu-bar-height;
                width: $menu-bar-width;
                background-color: css-var($menu-bar-color);
                transition: delay(default);
            }

            &::before {
                transform: translate(-50%, -200%);
            }

            &::after {
                transform: translate(-50%, 200%);
            }
        }

        &#{expanded(true)} {
            #{class(menu-icon)} {
                background: transparent;
                &::before {
                    transform: translate(-50%, 0) rotate(45deg);
                }

                &::after {
                    transform: translate(-50%, 0) rotate(-45deg);
                }
            }
        }
    }

    #{id(wrapper)} {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - css-var(header-height));
        transition: none;
        z-index: -2;
        
        &#{class(open)} {
            top: css-var(header-height);
        }
    }

    #{id(widgets)} {
        position: absolute;
        top: 0;
        right: 0;
        height: css-var(header-height);
    }
    
    #{class(dropdown)} {
        background: css-var(header-bg);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: css-var(header-height);
            height: css-var(header-height);
            padding: calc(css-var(header-height) / 2);
        }

        li {
            padding: calc(css-var(header-height) / 2);
            line-height: 1;
            cursor: pointer;
        }
    }
}
