/// _image.scss - Image styles
/// @author App/Art Mint
/// 
/// @group Components
@charset 'utf-8';

/// Imports
@use '../util' as *;

/// Image styles
#{class(image)} {
    &#{class(error)} {
        &::after {
            content: '❌ Image failed to load. This is a placeholder.';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 $image-shadow-size $image-shadow-size $image-shadow-size;
            background: css-var($shadow-color);
            box-shadow: 0 0 $image-shadow-size $image-shadow-size css-var($shadow-color);
            text-align: center;
        }
    }

    img {
        display: block;
    }
}
